<!DOCTYPE html>
<html lang="en" ng-app="heimdall">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Answer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>

<body ng-controller="MainCtrl">
  <div class='container'>
    <table class="table" id="table">
      <thead>
        <tr>
          <th ng-repeat="heading in headings">{{heading}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="dim($index)" ng-repeat="item in data">
          <td>{{item["Feature/Engine"]}}</td>
          <td class={{item["exponentiation"]}}>{{item["exponentiation"]}}</td>
          <td class={{item["function.sentc"]}}>{{item["function.sentc"]}}</td>
          <td class={{item["Object.observec"]}}>{{item["Object.observec"]}}</td>
          <td class={{item["Array.prototype.includes"]}}>{{item["Array.prototype.includes"]}}</td>
          <td class={{item["SIMD"]}}>{{item["SIMD"]}}</td>
          <td class='{{item["trailing commas in function syntax"]}}'>{{item["trailing commas in function syntax"]}}</td>
          <td class='{{item["async functions"]}}'>{{item["async functions"]}}</td>
          <td class='{{item["typed objectsc"]}}'>{{item["typed objectsc"]}}</td>
          <td class={{item["ArrayBuffer.transferc"]}}>{{item["ArrayBuffer.transferc"]}}</td>
          <td class='{{item["class decoratorsc"]}}'>{{item["class decoratorsc"]}}</td>
          <td class='{{item["async generatorsc"]}}'>{{item["async generatorsc"]}}</td>
          <td class='{{item["Object rest propertiesc"]}}'>{{item["Object rest propertiesc"]}}</td>
          <td class='{{item["Object spread propertiesc"]}}'>{{item["Object spread propertiesc"]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
